// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
    text-align: center;
    border-width: 1;
    border-color: black;
    border: solid;
    padding : 1em;
    border-radius: 1em;
    width: 80%;
    margin:5% auto;
    background-color: #F0F0F0;
}

#title {
    text-align: center;
}

#newPost{
    text-align: center;
    border-width: 1;
    border-color: black;
    border: solid;
    padding : 1em;
    border-radius: 1em;
    width: 80%;
    margin:5% auto;
    background-color: #F0F0F0;
    font-weight: bold;
}